#background-color{
    background-color:black
}

/* This is a CSS class that makes the cursor a pointer. */
.cursor-pointer{
    cursor: pointer;
}

.custom-card-for-mobile{
    height: 90vh;
    width: 23vw;
    background-color:red;
    border-radius: 5vh;
    box-shadow: 0px 50px 180px #657AFF;
}

.custom-card-for-current-time
{
    height: 20vh;
    width: 21vw;
    background-color:red;
    border-radius: 5vh;
    box-shadow: 0px 5px 12px white;
}

#scroll-area-for-alarm{
  max-height: 52vh;
    overflow-y: scroll;
}

#scroll-area-for-alarm::-webkit-scrollbar {
    display: none;
  }

.custom-card-for-alarm{
    height: 15vh;
    width: 21vw;
    border-radius: 4vh;
    margin-top: 2vh;
}

.alarm-time{
    height: 70%;
    width: inherit;
    border-radius: 4vh 4vh 0 0;
    background-color: black;
}

#current-time{
    font-family:  cursive;
    font-size: 2em;
}

.alarm-delete{
    height: 30%;
    width: inherit;
    border-radius: 0 0 4vh 4vh;
    background-color:black;
}



.delete-icon:hover{
    cursor: pointer;
    filter: invert(42%) sepia(73%) saturate(6740%) hue-rotate(340deg) brightness(108%) contrast(101%);
}


.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
}

/* This is the CSS class that is used to change the background color of the slider. */
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(170, 14, 14);
    transition: .4s;
    border-radius: 34px;
}
/* This is the code for the checkbox. */
.switch input {display: none;}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: green;
}

input:checked +.slider:before {
    transform: translateX(30px);
}
/* This is a CSS class that is used to change the font size, font family and border radius of the text of the checkbox */
#amnpm{
    font-size: 1rem;
    font-family: cursive;
    border-radius: 10px;
}

.time{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

/* Adding design to the card to change the time */

.create-alarm-card{
    height: 40vh;
    width: 22vw;
    border-radius: 5vh;
    flex-direction: column;
    text-align: center;
    background-color: black;
}

.create-alarm-card input{
    height: 35px;
    width: 60px;
    border-radius: 10px;
    border-color: red;
    text-align: center;
    padding: 5px;
}

/* Button for adding the alarm  */

.set-alarm-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #37DDF0;
    border: none;
}

/* Button For adding time in the list */
#addTimeInListButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #37DDF0;
    border: none;

}
/* Changes the color of svg image as white */
.white-color-svg{
filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(196deg) brightness(121%) contrast(103%);
}

